{% load static %}

<html class="no-js" lang="zxx">

<head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    {% if page == 'home' %}
    <title>{{SITE_NAME}}</title>
    {% else%}
    <title>{{PageData.name}} - {{SITE_NAME}}</title>
    {% endif %}
    <!--====== Favicon ======-->


    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/slideshow.css">

    <!--====== CSS Here ======-->

</head>
{% if page == 'home' %}
    {% block header %}
        {% include 'blog/homeheader.html' %}
    {% endblock %}  
{% elif page == 'navs' %}
    {% block headertwo %}
        {% include 'blog/navheader.html' %}
    {% endblock %}  
{% endif %}
<body>
    {% block content %}

    {% endblock %}


    {% block bottom %}
        {% include 'blog/bottom.html' %}
    {% endblock %}

</body>
</html>