
<div class="bottomNavs">
    <div class="navsBox">
        <div class="navAbout">
            <embed src="/static/svg/logo.svg" width="50" height="50" type="image/svg+xml"  style="margin-top:7px;" class="logobig"/>
            <p class="navAboutStr">{{SITE_DESC}}</p>
            <a href=""><p class="navAboutButton">隐私政策</p></a>
            <a href=""><p class="navAboutButton">赞助鸣谢</p></a>
            <a href=""><p class="navAboutButton">技术交流</p></a>
            <a href=""><p class="navAboutButton">关于我们</p></a>
        </div>
        <div class="navMess">
            <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>留言墙</b></p>
            <p style="color: #e6e6e6;margin-top: 5%;margin-bottom: 3%;">最新留言时间： 2019年1月09日</p>
            <div class="mess">

            </div>
            <a href=""><div class="wirteMess">写留言</div></a>
        </div>
        <div class="navSearch">
            <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>搜索</b></p>
            <p style="color: #e6e6e6;margin-top: 5%;margin-bottom: 3%;">在整个站点搜索你所需的内容。</p>
            <form action="/search/" method="GET">
            <div class="navSearchBox">
                
                <input type="text" class="navSearchBoxText" placeholder="输入关键词" name="name">
                <input type="submit" class="navSearchBoxSub">
            
            </div></form>
            <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>联系我</b></p>
        </div>
    </div>
</div>

<div class="bottomInformation">
    <div class="bottomInformationbox">
        <p class="nformation">Copyright © 2021 ython.top All Rights Reserved. Powered By Django. <a href="https://beian.miit.gov.cn/" style="color: rgb(143, 143, 143);">{{CN_GOV_RECORD_DATA}}</a></p>
    </div>
</div>