{% extends 'article/base.html' %}

{% block content %}

<div class="articlepage">
    <div class="navimage">
        <div style="width: 100%;height: 100%;">
        <img class="navbackimage" src="/static/image/messbackg.jpg" style="width: 100%;height: 100%;z-index: 10;object-fit: cover;"></div>
        <div class="navimages">
            <p class="navimagesfont"><b>留言</b></p>
            <p class="navimagesfont2">与君初相识 犹如旧人归</p>
        </div>
    </div>
    <div class="articlepagebody">

        <div class="articlepagebody2">

            <div class="artclebottom">
                <div class="remark" style="margin-top: 100px;">
                    <form action="/mess/" method="POST">
                    <div class="adminline"></div>
                    <embed src="/static/svg/remark.svg" width="20" height="20" type="image/svg+xml"  style="margin-top:7px;"/>
                    <h class="remarktitle"><i><b>不妨在此留下些什么...</b></i></h><br><br>
                    <h class="remarktitle2"><b>留言</b></h>
                    <textarea type="text" placeholder="评论" class="remarkbox" name="body" style="max-height: 100px;min-height: 100px;padding-top: 5px;" required/></textarea>
                    <input type="text" placeholder="称呼" class="remarkbox" name="name" required/>
                    <input type="email" placeholder="邮箱" class="remarkbox" name="email" required/>    
                    <input type="text" placeholder="id" style="display: none;" value="0" name="id" required/> 
                    <input type="submit" class="adminsubmit2" value="提交">
                    </form>
                    <div class="adminline"></div>
                    <div>
                        {% for remark in remarks reversed %}
                        <p style="font-size: 20px;color: rgb(27, 27, 27);margin-top: 30px;"><b>{{remark.writer}}</b></p>
                        <p style="font-size: 15px;color: rgb(87, 87, 87);"><i>{{remark.time}}</i></p>
                        <p style="font-size: 18px;color: rgb(73, 73, 73);margin-top: 30px;margin-bottom: 30px;line-height: 35px;">{{remark.body}}</p>
                        <div class="adminline2" style="margin: auto;"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>



        {% include 'blog/bottom2.html' %}
    </div>
</div>





{% endblock %}