{% extends 'article/base.html' %}

{% block content %}

<div class="articlepage">
    <div class="navimage">
        <div style="width: 100%;height: 100%;">
        <img class="navbackimage" src="/static/image/messbackg.jpg" style="width: 100%;height: 100%;z-index: 10;object-fit: cover;"></div>
        <div class="navimages">
            <p class="navimagesfont"><b>留言</b></p>
            <p class="navimagesfont2">与君初相识 犹如旧人归</p>
        </div>
    </div>
    <div class="articlepagebody">

        <div class="articlepagebody2">

            <div class="artclebottom">
                <div class="remark" style="margin-top: 100px;">
                    <form action="/mess/" method="POST">
                    <div class="adminline"></div>
                    <embed src="/static/svg/remark.svg" width="20" height="20" type="image/svg+xml"  style="margin-top:7px;"/>
                    <h class="remarktitle"><i><b>不妨在此留下些什么...</b></i></h><br><br>
                    <h class="remarktitle2"><b>留言</b></h>
                    <textarea type="text" placeholder="评论" class="remarkbox" name="body" style="max-height: 100px;min-height: 100px;padding-top: 5px;" required/></textarea>
                    <input type="text" placeholder="称呼" class="remarkbox" name="name" required/>
                    <input type="email" placeholder="邮箱" class="remarkbox" name="email" required/>    
                    <input type="text" placeholder="id" style="display: none;" value="0" name="id" required/> 
                    <input type="submit" class="adminsubmit2" value="提交">
                    </form>
                    <div class="adminline"></div>
                    <div>
                        {% for remark in remarks reversed %}
                        <p style="font-size: 20px;color: rgb(27, 27, 27);margin-top: 30px;"><b>{{remark.writer}}</b></p>
                        <p style="font-size: 15px;color: rgb(87, 87, 87);"><i>{{remark.time}}</i></p>
                        <p style="font-size: 18px;color: rgb(73, 73, 73);margin-top: 30px;margin-bottom: 30px;line-height: 35px;">{{remark.body}}</p>
                        <div class="adminline2" style="margin: auto;"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>



    <div class="bottomNavs2">
        <div class="navsBox">
            <div class="navAbout">
                <embed src="/static/svg/logo.svg" width="50" height="50" type="image/svg+xml"  style="margin-top:7px;" class="logobig"/>
                <p class="navAboutStr">{{SITE_DESC}}</p>
                <a href=""><p class="navAboutButton">隐私政策</p></a>
                <a href=""><p class="navAboutButton">赞助鸣谢</p></a>
                <a href=""><p class="navAboutButton">技术交流</p></a>
                <a href=""><p class="navAboutButton">关于我们</p></a>
            </div>
            <div class="navMess">
                <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>留言墙</b></p>
                <p style="color: #e6e6e6;margin-top: 5%;margin-bottom: 3%;">最新留言时间： 2019年1月09日</p>
                <div class="mess">
    
                </div>

            </div>
            <div class="navSearch">
                <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>搜索</b></p>
                <p style="color: #e6e6e6;margin-top: 5%;margin-bottom: 3%;">在整个站点搜索你所需的内容。</p>
                <div class="navSearchBox">
                    <input type="text" class="navSearchBoxText" placeholder="输入关键词">
                    <input type="submit" class="navSearchBoxSub">
                </div>
                <p style="font-size: 20px;color: rgb(255, 255, 255);"><b>联系我</b></p>
            </div>
        </div>
    </div>
    
    <div class="bottomInformation2">
        <div class="bottomInformationbox">
            <p class="nformation">Copyright © 2021 ython.top All Rights Reserved. Powered By Django. <a href="https://beian.miit.gov.cn/" style="color: rgb(143, 143, 143);">{{CN_GOV_RECORD_DATA}}</a></p>
        </div>
    </div>
    </div>
</div>





{% endblock %}