<header>
    <div class="headertwo">
        <div class="logo">
            <embed src="/static/svg/logo.svg" width="50" height="50" type="image/svg+xml"  style="margin-top:7px;"/>
        </div>

        <div class="navs">
                <div class="navbox"><a href="/" class="navfont2">首页</a></div>
                <ul class="nav1">
                    {% for nav in navs %}
                    {% if nav.TreeSum == 0 %}
                    {% if nav.parent == 0 %}
                    <div class="navbox"><a href="/navs/?page={{nav.id}}" class="navfont2">{{nav.name}}</a></div>
                    {% endif %}
                    {% elif nav.TreeSum > 0 %}
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">{{nav.name}}</a></div>
                        <ul class="nav2">
                            {% for nav2 in navs %}
                            {% if nav2.parent == nav.id %}
                            <li class="nav2li"><a href="/navs/?page={{nav2.id}}" class="nav2f">{{nav2.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="navbox"><a href="/write/" class="navfont2">文章</a></div>
        </div>

        <div class="search">
            <a href=""><img src="/static/image/search1.png" alt="" width="30" height="30" style="margin-top:15px;margin-left: 40px;" ></a>
            <a href="/accounts/login/"><img src="/static/image/loginico1.png" alt="" width="25" height="25" style="margin-top:15px;margin-left: 40px;"></a>
        </div>
    </div>
</header>