<header>
    <div class="headertwo">
        <div class="logo">
            <embed src="/static/svg/logo.svg" width="50" height="50" type="image/svg+xml"  style="margin-top:7px;"/>
        </div>

        <div class="navs">
                <div class="navbox"><a href="/" class="navfont2">首页</a></div>
                <ul class="nav1">
                    {% for nav in navs %}
                    {% if nav.TreeSum == 0 %}
                    {% if nav.parent == 0 %}
                    <div class="navbox"><a href="/navs/?name={{nav.id}}&page=1" class="navfont2">{{nav.name}}</a></div>
                    {% endif %}
                    {% elif nav.TreeSum > 0 %}
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">{{nav.name}}</a></div>
                        <ul class="nav2">
                            {% for nav2 in navs %}
                            {% if nav2.parent == nav.id %}
                            <li class="nav2li"><a href="/navs/?name={{nav2.id}}&page=1" class="nav2f">{{nav2.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="navbox"><a href="/mess/" class="navfont2">留言</a></div>
                <div class="navbox"><a href="/about/" class="navfont2">关于</a></div>
        </div>

        <div class="search">
            <a href="/search/?name="><img src="/static/image/search1.png" alt="" width="30" height="30" style="margin-top:15px;margin-left: 40px;" ></a>
            {% if login == False %}
            <a href="/accounts/login/"><img src="/static/image/loginico1.png" alt="" width="25" height="25" style="margin-top:20px;margin-left: 40px;"></a>
            {% elif login == True %}
            <ul class="nav1">
                <li>
                <div class="navbox2"><img src="/static/image/loginico1.png" alt="" width="25" height="25" style="margin-top:14px;margin-left: 40px;"></div>
                    <ul class="nav2">
                        <li class="nav2li"><a href="/write/" class="nav2f">写文章</a></li>
                        <li class="nav2li"><a href="/admin/" class="nav2f">后台管理</a></li>
                        <li class="nav2li"><a href="/admins/" class="nav2f">数据管理</a></li>
                        <li class="nav2li"><a href="/accounts/logout/" class="nav2f">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</header>