{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>{{title}} - {{SITE_NAME}}</title>
    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="/static/images/ico.ico" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <!--====== CSS Here ======-->

</head>
    {% block header %}
        {% include 'blogadmin/header.html' %}
    {% endblock %}  
<body onmousewheel="bbimg()">
    {% block content %}

    {% endblock %}


    {% block bottom %}
        {% include 'blogadmin/bottom.html' %}
    {% endblock %}

</body>
</html>