<header>
    <div class="headertwo">
        <div class="logo">
            <embed src="/static/svg/logo.svg" width="50" height="50" type="image/svg+xml"  style="margin-top:7px;"/>
            <a href="/admin/"><h style="font-size: 30px;color: #04d985;"><b>Admin</b></h></a>
        </div>
        <div class="navs">
                <ul class="nav1">
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">网站</a></div>
                        <ul class="nav2">
                            <li class="nav2li"><a href="/admin/siteinf/" class="nav2f">网站信息</a></li>
                            <li class="nav2li"><a href="/admin/emailset/" class="nav2f">邮件设置</a></li>
                            <li class="nav2li"><a href="/admin/loginset/" class="nav2f">用户设置</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav1">
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">版块</a></div>
                        <ul class="nav2">
                            <li class="nav2li"><a href="/admin/navset/" class="nav2f">版块管理</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav1">
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">文章</a></div>
                        <ul class="nav2">
                            <li class="nav2li"><a href="/admin/articlesy/" class="nav2f">文章分类</a></li>
                            <li class="nav2li"><a href="/admin/rearticles/?n=&m=&page=1" class="nav2f">文章管理</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbox"><a href="/" class="navfont2">用户</a></div>
                <ul class="nav1">
                    <li>
                    <div class="navbox"><a href="#" class="navfont2">模板</a></div>
                        <ul class="nav2">
                            <li class="nav2li"><a href="/admin/homeimage/" class="nav2f">轮播图</a></li>
                            <li class="nav2li"><a href="/admin/timemess/" class="nav2f">时间杂记</a></li>
                        </ul>
                    </li>
                </ul>


        </div>

        <div class="search">
            <a href="/search/?name="><img src="/static/image/search1.png" alt="" width="30" height="30" style="margin-top:15px;margin-left: 40px;" ></a>
            <a href="/"><img src="/static/image/exit.png" alt="" width="25" height="25" style="margin-top:16px;margin-left: 40px;"></a>
        </div>
    </div>
</header>
