{% extends 'article/base.html' %}

{% block content %}

<div class="articlepage">
    <div class="navimage">
        <div style="width: 100%;height: 100%;">
        <img class="navbackimage" src="/static/{{data.image}}" style="width: 100%;height: 100%;z-index: 10;object-fit: cover;"></div>
        <div class="navimages">
            <p class="navimagesfont"><b>{{data.title}}</b></p>
            <p class="navimagesfont2">{{data.ftitle}}</p>
        </div>
    </div>
    <div class="articlepagebody">



        <div class="articlepagebody2">
            <div class="articlepagebody3">
                <img src="/static/{{data.image}}" alt="" class="pagebodyimg">
                <div class="articlepagebody4">
                    <div class="articlepagebody5">

                        <p style="font-size: 20px;margin-top: 40px;"><b>{{data.writer}}</b>
                            {% if change == True %}
                            <a href="/rewrite/?id={{data.id}}" style="font-size: 15px;margin-left: 20px;">编辑</a>
                            <a href="/admin/navset/revise/?name={{data.pk}}&method=4" style="font-size: 15px;margin-left: 20px;">删除</a></p>
                            {% endif %}
                        <p style="color: rgb(82, 82, 82);margin-bottom: 50px;"><i>{{data.time}}</i></p>
                        
                        
                        
                        <div class="articlepagebody6">
                            {% autoescape off %}
                            {{data.body}}
                            {% endautoescape %}
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="artclebottom">
                <div class="remark">
                    <form action="/article/?id={{data.id}}" method="POST">
                    <div class="adminline"></div>
                    <embed src="/static/svg/remark.svg" width="20" height="20" type="image/svg+xml"  style="margin-top:7px;"/>
                    <h class="remarktitle"><i><b>留下你的评论吧...</b></i></h><br><br>
                    <h class="remarktitle2"><b>评论</b></h>
                    <textarea type="text" placeholder="评论" class="remarkbox" name="body" style="max-height: 100px;min-height: 100px;padding-top: 5px;" required/></textarea>
                    <input type="text" placeholder="称呼" class="remarkbox" name="name" required/>
                    <input type="email" placeholder="邮箱" class="remarkbox" name="email" required/>    
                    <input type="text" placeholder="id" style="display: none;" value="{{data.id}}" name="id" required/> 
                    <input type="submit" class="adminsubmit2" value="提交">
                    </form>
                    <div class="adminline"></div>
                    <div>
                        {% for remark in remarks reversed %}
                        <p style="font-size: 20px;color: rgb(27, 27, 27);margin-top: 30px;"><b>{{remark.writer}}</b></p>
                        <p style="font-size: 15px;color: rgb(87, 87, 87);"><i>{{remark.time}}</i></p>
                        <p class="prebox" style="font-size: 18px;color: rgb(73, 73, 73);margin-top: 30px;margin-bottom: 30px;line-height: 35px;">{{remark.body}}</p>
                        <div class="adminline2" style="margin: auto;"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        {% include 'blog/bottom2.html' %}
    </div>
</div>





{% endblock %}